.col-xs-6.col-sm-3
.col-xs-6.col-sm-3
.col-xs-6.col-sm-3
.col-xs-6.col-md-1
.navbar-collapse.collapse.col-xs-6.col-md-1

            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/faq') FAQ

