extends ../layout

block content
    .container
        .faq
            ul
                li
                    p
                        span Q1.
                        | What is
                        strong.event-cons
                    p
                        span A1.
                        strong.event-cons
                        | is a network which connects people of similar interest and objectives.
                li
                    p
                        span Q2.
                        | How can I use eventconsort?
                    p
                        span A2.
                        | One can create and communicate with multiple public or private groups on eventconsort.
                        |Communication is allowed via files and media options along with group and private message.
                li
                    p
                        span Q3.
                        | What is the main difference between a public and a private group?
                    p
                        span A3.
                        | A public group is an open group allowing free access to people, while a private group is
                        |access controlled. It requires an invite or a groupname + password combination.
                li
                    p
                        span Q4.
                        | Can I find public groups of my interest?
                    p
                        span A4.
                        | Search option on the create/join page allows users to find public groups.
                li
                    p
                        span Q5.
                        | Is there a condition for private messaging?
                    p
                        span A5.
                        | Two users who have shared any time in a private group can exchange private messages.
                li
                    p
                        span Q6.
                        | How does a group function?
                    p
                        span A6.
                        | There are admins and members in a group. Admins have more control than members.
                li
                    p
                        span Q7.
                        | What are the privileges of an admin?
                    p
                        span A7.
                        |An admin can promote a member to an admin position, subject to acceptance by more than
                        |half the admins of the group. An admin has the authority to remove a member from a group.
                        |An admin can propose to demote or remove another admin from the group, subject to
                        |affirmation of more than half of the remaining (except the one who is proposed to be demoted
                        |or removed) admins. An admin can also change the name of the group or end the group,
                        |subject to ratification by more than half of the admins.
                li
                    p
                        span Q8.
                        | What are the rights of a member?
                    p
                        span A8.
                        | Joining a group marks the start of information access by a member. If a member is
                        |promoted to an admin position, then all information of the group (since its genesis) becomes
                        |visible to that member.
                li
                    p
                        span Q9.
                        | What happens when a group ends?
                    p
                        span A9.
                        | Ending of a group triggers bundling of all communication in the group into the users’
                        |archives section, for all members + admins of the group. Leaving a group by a particular
                        |member triggers archiving for that member. A group ends by default after fifteen days of
                        |inactivity.
                li
                    p
                        span Q10.
                        | How can I better organize my groups?
                    p
                        span A10.
                        | The organize option allows users to make categories and push individual groups into these
                        |categories.
                li
                    p
                        span Q11.
                        | Is there an easy way to organize invitees?
                    p
                        span A11.
                        | Invitations can be sent using invite lists option. It allows users to create flexible invitation
                        |lists.



