#change-pass.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        form.modal-content(id="forgot-password", method="post", action="#{getUrl('change-password')}", data-socket="true", rel="#change-password-message")
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h4.modal-title Change Password
            .modal-body
                .change-password
                    #change-password-message
                    #change-password
                            .form-group
                                input.form-control(name='password', placeholder="#{__('password')}", autocomplete="off", type="password")
                            .form-group
                                input.form-control(name='confirm_password', placeholder="#{__('confirm_password')}", autocomplete="off", type="password")

            .modal-footer
                button.btn.mybtn.pull-right(type="submit", tabindex="5") #{__('go!')}
