#forgot-pass.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        form.modal-content(id="forgot-password", method="post", action="#{getUrl('forgot-password')}", data-socket="true", rel="#forgot-password-message", redirect="/forgot-password-sent")
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h4.modal-title Forgot Password
            .modal-body
                .forgot-password
                    #forgot-password-message
                    #forgot-password-form.cf
                            .form-group
                                input.form-control(name='email', autocomplete="off", placeholder='#{__("enter_your_email_id")}')

            .modal-footer
                button.btn.mybtn.pull-right(type="submit", tabindex="5") #{__('go!')}

